@model ADL.Models.FormValues

@{
    ViewBag.Title = "Tackar";
}
<div class="alert alert-info" style="text-align: center;">
    Tack för din medverkan
</div>
<script type="text/javascript">
    setTimeout(function () { window.location = "http://adlform.mikaelstrid.net/"; }, 5000);
</script>